beautifulsoup4
brotlipy
bs4
chardet
click
colorama
configparser
crayons
cycler
dnspython
Flask
Flask-Cors
gunicorn
idna
itsdangerous
Jinja2
kiwisolver
MarkupSafe
matplotlib
numpy
pandas==1.3.4
Pillow
pymongo
pyparsing
python-dateutil
pytz
redis
requests
rq
selenium==4.1.0
six
soupsieve
urllib3
webdriver-manager==3.3.0
Werkzeug
wincertstore
